<div class="page-container">

  <!-- ================= LIST PAGE ================= -->
  <ng-container *ngIf="pageMode === 'LIST'">

    <div class="page-header">
      <h2>Custom Field Groups</h2>
      <button class="btn-add" (click)="openAddPage()">+ Create Group</button>
    </div>

    <input
      class="search-box"
      placeholder="Search groups..."
      [(ngModel)]="searchText"
    />

    <div class="table-card">
      <table class="theme-table">
        <thead>
          <tr>
            <th>Custom Field Group</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let group of filteredGroups">
            <td>{{ group.questionText }}</td>
            <td>
              <button class="btn-edit" (click)="openEditPage(group)">Edit</button>
              <!-- <button class="btn-delete" (click)="deleteQuestion(group.id)">Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-container>

  <!-- ================= EDIT PAGE ================= -->
  <ng-container *ngIf="pageMode === 'EDIT'">

    <button class="back-btn" (click)="goBack()">← Back</button>

    <h2>Edit Group</h2>

    <label>Group Name</label>
    <input class="input" [(ngModel)]="form.questionText"/>

    <div class="section-title">
      Custom Fields
      <button class="add-btn" (click)="addField()">+ Add Field</button>
    </div>

    <div class="field-row" *ngFor="let field of form.fields; let i = index">
      <span>{{ field.name }}</span>

    <div class="field-actions">
  <i class="fa-solid fa-plus action-icon add"
     (click)="addField()"></i>

  <i class="fa-solid fa-pencil action-icon edit"
     (click)="editField(i)"></i>

  <i class="fa-solid fa-trash action-icon delete"
     (click)="removeField(i)"></i>
</div>

    </div>

    <div class="actions">
      <button class="save-btn" (click)="updateGroup()">Update</button>
      <button class="cancel-btn" (click)="goBack()">Cancel</button>
    </div>

  </ng-container>

</div>
