.home-container {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
 

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(270deg, #ff7b00, #ffb347, #ff7b00);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;

  padding: 0 70px; 
  color: white;
  font-weight: 600;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu li {
  font-size: 25px;      
  cursor: pointer;
  transition: 0.3s;
}

.nav-menu li:hover {
  opacity: 0.7;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 30px;
  padding-right: 65px; 
}


.settings-icon {
  font-size: 26px; 
  cursor: pointer;
  filter: brightness(1.1);
  transition: 0.3s;
}

.settings-icon:hover {
  transform: rotate(20deg);
  opacity: 0.9;
}


.profile-icon {
  width: 42px;
  height: 42px;
  background: #222;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: -790px;
}




/* /////////////////////////// */

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 0px);
  padding: 0 80px;

  background: linear-gradient(270deg, #ff7b00, #ffb347, #ff7b00);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
  color: white;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.content h1 {
  font-size: 48px;
  font-weight: 700;
}

.content h1 span {
  color: #222;
}

.content p {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0.9;
}


.buttons {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.start {
  background: #222;
  color: white;
}

.start:hover {
  transform: scale(1.05);
}

.instructions {
  background: transparent;
  border: 2px solid #fff;
  color: white;
}

.instructions:hover {
  background: #fff;
  color: #222;
} 
@keyframes floatAd {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* BOTTOM AD */
.bottom-ad {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  
}

.bottom-ad img {
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: floatAd 4s infinite ease-in-out;
}
/* RIGHT AD */
.right-ad {
  position: fixed;
  right: 20px;
  margin-top: 5%;
 
  
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.right-ad img {
  width: 80%;
  height: 400px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: floatAd 4s infinite ease-in-out;
}
